/* 
  EAEFEF
  959BBD
  7E45F0
  6D6D9E
  241531
*/

.HomePage {
  background-color: #121212;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
}
h3 {
  text-align: center;
}
.options {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-gap: 15px;
  padding: 15px;
  flex-wrap: wrap;
}
.BtnTyps {
  font-size: 25px;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 0px 5px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-gap: 5px;
}
.spotify {
  background-color: #1ED760;
  color: #000;
}
.youtube {
  background-color: #d71e1e;
  color: #000;
}
.tiktok {
  background-color: #1eacd7;
  color: #000;
}
.insta {
  background-color: #DD2A7B;
  color: #000;
}
.BtnTyps:hover{
  transition: 1s;
  transform: scale(1.2);
}
.BtnTypsDisable {
  cursor: no-drop;
  font-size: 25px;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-gap: 5px;
  filter: opacity(0.5);
}


@media(max-width:0px){
  .BtnTyps a {
    display: none;
  }
  .BtnTyps {
    font-size: 50px;
  }
}